---
layout: default
hero_height: is-small
hero_image: /img/ANPL_quantum_field.jpg 
---

<div class="columns is-multiline">

    <div class="column is-6">
            <img src="{{ page.image }}" style="width: 80%; height:auto; object-fit: fill;">
    </div>

    <div class="column is-6">
        <p class="title is-3" style="text-align: center; margin-bottom: 1cm;">{{ page.title }}</p>
        <p class="subtitle is-3" style="text-align: center;">{{ page.subtitle }}</p>
        <div class="abstract">
            {{ page.abstract }}
        </div>
    </div>

    
    <div class="content">
        <hr>
        {{ content }}
    </div>
</div>
