---
layout: default
show_sidebar: false
---

<!-- 
Principal Investigator
Research Team
 -Staff
 -Graduate Students (phd , master)
 -Undergraduate Students
Robots
Alumni 
-->

<div class="columns is-multiline">
  <div class="column is-11">
    {{ page.content }}
  </div>
</div>

<h1 style="font-size:35px;">Principal Investigator</h1>

{% assign sorted_products = site.team | where:"category","Principal Investigator" %}
  {% for product in sorted_products %}
  <div class="container" style="display: flex; flex-wrap: nowrap;">
    <div class="columns">
      <div class="column is-4-desktop is-4-tablet">
        <div class="PI_card" style="display: block; width: max-content; margin-top: 1cm;">
          <a href="{{ product.url | prepend: site.baseurl }}">
          {% if product.image %}
            <div class="card-image" style="width: 350px; height: 350px; object-fit: cover;">
              <img src="{{ product.image }}" alt="{{ product.title }}">
            </div>
          {% endif %}
          </a>
        </div>
      </div>
<br>
  <div class="column is-8-desktop is-4-tablet" style="margin-left: 50px ;">
    <div class="content" style="display: block; margin-top: 1cm; width:fit-content; flex: 1;">
      <a href="{{ product.url | prepend: site.baseurl }}">

        <div style="display: block; margin-bottom: 10px;">
          <p class="title is-4">{{ product.title }}</p>
        </div>
      
        <div style="display: block; margin-bottom: 10px;">
          <p class="title is-5">{{ product.subtitle }}</p>
        </div>
      </a>

      <div style="display: block;">
        <p class="subtitle is-5">{{ product.anpl }}</p>
      </div>

      <div style="display: block;">
        <a href="{{ product.techairobotics_link | prepend: site.baseurl }}" class="custom-link">
        <p class="subtitle is-5">{{ product.techairobotics }}</p>
        </a>
      </div>

      <div style="display: block; margin-top: 0.5cm; line-height: 1.5;">

        <a href="{{ product.ae_link | prepend: site.baseurl }}" class="custom-link">
          <p class="subtitle is-6" style="margin-bottom: 0.5cm;">{{ product.ae }}</p>
        </a>

        <a href="{{ product.dds_link | prepend: site.baseurl }}" class="custom-link">
          <p class="subtitle is-6" style="margin-bottom: 0.5cm;">{{ product.dds }}</p>
        </a>
      
        <a href="{{ product.tasp_link | prepend: site.baseurl }}" class="custom-link">
          <p class="subtitle is-6" style="margin-bottom: 0.5cm;">{{ product.tasp }}</p>
        </a>
      
        <a href="{{ product.tech-ai_link | prepend: site.baseurl }}" class="custom-link">
          <p class="subtitle is-6" style="margin-bottom: 0.5cm;">{{ product.tech-ai }}</p>
        </a>
    
        <a href="{{ product.technion_link | prepend: site.baseurl }}" class="custom-link">
          <p class="subtitle is-6" style="margin-bottom: 0.5cm;">{{ product.technion }}</p>
        </a>
      </div>
      
      <div style="display: block; margin-top: 0.5cm;">
        {% for line in product.contact %}
        <p class="subtitle is-6">{{ line }}<br></p>
        {% endfor %}
      </div>
      
    </div>
  </div>
</div>
</div>
{% endfor %}  

<hr>
<h1 style="font-size:35px;">Research Team</h1>
<br>
<div class="columns is-multiline">
{% assign categories_order = site.categories_order %}
{% assign sorted_products = site.team | sort: "category" %}
{% for category in categories_order %}
  {% for product in sorted_products %}
    {% if product.category == category %}
    <div class="column is-one-fifth-desktop is-6-tablet">
      <a href="{{ product.url | prepend: site.baseurl }}">
        <div class="card">
          {% if product.image %}
          <div class="card-image">
            <figure class="image is-3by3">
            <img src="{{ product.image }}" alt="{{ product.title }}" style="width: 250px; height: 250px; object-fit: cover; display: block; margin: auto;">
            </figure>
          </div>
          {% endif %}
          <div class="card-content">
            <p class="title is-5">{{ product.title }}</h2>
            <p class="subtitle is-5">{{ product.subtitle }}</p>
          </div>
        </div>
      </a>
    </div>
    {% endif %}
  {% endfor %}
{% endfor %}
</div>

<hr>
<h1 style="font-size:35px;">Robots</h1>
<br>
<div class="columns is-multiline">
{% assign sorted_products = site.team | where:"category","robots" | sort: "deployment" | reverse %}
{% for product in sorted_products %}
<div class="column is-one-fifth-desktop is-6-tablet">
  <a href="{{ product.url | prepend: site.baseurl }}">
    <div class="card">
      {% if product.image %}
      <div class="card-image">
        <figure class="image is-3by3" style="display: flex; align-items: center; justify-content: center; max-width: 250px; max-height: 250px; overflow: hidden;">  
        <img src="{{ product.image }}" alt="{{ product.title }}" style="width: 250px; height: 250px; object-fit: cover; display: block; margin: auto;">
        </figure>
      </div>
      {% endif %}
      <div class="card-content">
        <p class="title is-6">{{ product.title }}</h2>
        <p class="subtitle is-6">{{ product.subtitle }}</p>
      </div>
    </div>
  </a>
</div>
{% endfor %}
</div>

<hr>
<h1 style="font-size:35px;">Alumni</h1>
<br>
<h1 style="font-size:20px;">Ph.D.</h1>
<br>
<div class="columns is-multiline">
{% assign sorted_alumni = site.team | where: "category", "alumni" | sort: "graduation" | reverse %}
  {% for alumni in sorted_alumni %}
    {% if alumni.subtitle == "Ph.D." %}
    <div class="column is-one-fifth-desktop is-6-tablet">
        <div class="card">
          <div class="card-content">
            <a href="{{ alumni.url | prepend: site.baseurl }}">
              <p class="title is-5">{{ alumni.title }}</p>
              <p class="subtitle is-6" style="margin-bottom: 0;">{{ alumni.graduation}} {{ alumni.faculty }}</p>
              <hr>
              <p class="subtitle is-6">{{ alumni.next-position}}</p>
            </a>
          </div>
        </div>
    </div>
    {% endif %}
  {% endfor %}
</div>

<hr>
<h1 style="font-size:20px;">M.Sc.</h1>
<br>
<div class="columns is-multiline">
{% assign sorted_alumni = site.team | where: "category", "alumni" | sort: "graduation" | reverse %}
  {% for alumni in sorted_alumni %}
    {% if alumni.subtitle == "M.Sc." %}
    <div class="column is-one-fifth-desktop is-6-tablet">
        <div class="card">
          <div class="card-content">
            <a href="{{ alumni.url | prepend: site.baseurl }}">
              <p class="title is-5">{{ alumni.title }}</p>
              <p class="subtitle is-6" style="margin-bottom: 0;">{{ alumni.graduation}} {{ alumni.faculty }}</p>
              <hr>
              <p class="subtitle is-6">{{ alumni.next-position}}</p>
            </a>
          </div>
        </div>
    </div>
    {% endif %}
  {% endfor %}
</div>

<hr>
<h1 style="font-size:20px;">Postdocs & Research Scientists </h1>
<br>
<div class="columns is-multiline">
  {% assign sorted_alumni = site.team | where: "category", "alumni_researcher_and_postdoctoral" | sort: "graduation" | reverse %}
    {% for alumni in sorted_alumni %}
  
      <div class="column is-one-fifth-desktop is-6-tablet">
          <div class="card">
            <div class="card-content">
              <a href="{{ alumni.url | prepend: site.baseurl }}">
                <p class="title is-5">{{ alumni.title }}</p>
                <hr>
                <p class="subtitle is-6">{{ alumni.subtitle }}</p>
              </a>
            </div>
          </div>
      </div>
    {% endfor %}
  </div>

    <hr>
    <h1 style="font-size:20px;">Staff</h1>
    <br>
    <div class="columns is-multiline">
      {% assign sorted_alumni = site.team | where: "category", "alumni_lab_engineer" | sort: "graduation" | reverse %}
        {% for alumni in sorted_alumni %}
      
          <div class="column is-one-fifth-desktop is-6-tablet">
              <div class="card">
                <div class="card-content">
                  <a href="{{ alumni.url | prepend: site.baseurl }}">
                    <p class="title is-5">{{ alumni.title }}</p>
                    <hr>
                    <p class="subtitle is-6">{{ alumni.subtitle }}</p>
                  </a>
                </div>
              </div>
          </div>
        {% endfor %}
      </div>

<hr>
<h1 style="font-size:20px;">Undergrad Students </h1>
<br>
<div class="columns is-multiline">
  <p>
    {% capture file_content %}{% include_relative _team/alumni/Undergrad_students_alumni.txt %}{% endcapture %}
    {% assign lines = file_content | split: "\n" %}
    {% assign team_members = lines | join: ", " %}
    {{ team_members }}
  </p>
</div>

 

  


